@font-face {
    font-family: 'phoneme';
    src: url('assets/phoneme/phoneme.ttf') format('truetype');
}

body{
    overflow-x: hidden;
}

.wave_container{
    background: #eef99d;
    width:100%;
    height: 500px;
}

.wave_button{
    font-weight: 800;
    font-family: Lato;
    letter-spacing: 0.1em;
    width:150px;
    padding: 5px;
    background: transparent;
    transition: background-color 0.3s ease;
}
.wave_text{
    text-align: center;
    position: relative;
    top: 90px;
}
.wave_text h2{
    font-family: 'phoneme';
    font-weight: 600;
    letter-spacing: 0.2em;
    font-size: 55px;
}
.wave_text p{
    line-height: 1.9em;
    font-family: 'verdana';
    font-size: 16px;
}
.wave_text .motto{
    line-height: 1.9em;
    font-family: 'verdana';
    font-size: 16px;
    font-weight: 600;
}

/*BUBBLE ANIMATION*/
.bubble{
    cursor: pointer;
    position: absolute;
    left:800px;
    margin-top:-45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: inset 0 0 25px rgba(137, 104, 104, 0.25);
    animation: animate 8s ease-in-out infinite;
}
.bubble:nth-child(2){
    position: relative;
    zoom: 0.45;
    left: 1909px;
    top: -100px;
    animation-delay: -4s;
}
.bubble:nth-child(3){ 
    position: relative;
    zoom: 0.25;
    left: 3199px;
    top: -200px;
    animation-delay: -6s;
}

.bubble:nth-child(4){
    position: relative;
    zoom: 0.35;
    left: 2290px;
    bottom: -60px;
    animation-delay: -3s;
}
.bubble:nth-child(5){
    position: relative;
    zoom: 0.5;
    left: 1710px;
    top: -1px;
    animation-delay: -5s;
}

@keyframes animate 
{
    0%, 100%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(20px);
    }
    
}
.bubble::before{
    content: '';
    position: absolute;
    top:5px;
    left:15px;
    width: 10px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    z-index: 10;
    filter: blur(2px);
}

.bubble::after{
    content: '';
    position: absolute;
    top:25px;
    left:25px;
    width: 7px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    z-index: 10;
    filter: blur(2px);
}

.bubble span{
    position: absolute;
    border-radius: 50%;
}
.bubble span:nth-child(1){
    inset: 10px;
    border-left: 15px solid #0fb4ff;
    filter: blur(8px);
}
.bubble span:nth-child(2){
    inset: 10px;
    border-right: 15px solid #ff4484;
    filter: blur(8px);
}
.bubble span:nth-child(3){
    inset: 20px;
    border-top: 15px solid #ffeb3b;
    filter: blur(8px);
}
.bubble span:nth-child(4){
    inset: 30px;
    border-left: 15px solid #ff4484;
    filter: blur(12px);
}
.bubble span:nth-child(5){
    inset: 10px;
    border-bottom: 15px solid #fff;
    filter: blur(8px);
    transform: rotate(330deg);
}

/*SECOND PART*/
.second_text{
    text-align: center;
    margin-top: 15px;
    font-family: 'crimson text';
    letter-spacing: 0.1em;
    font-size: 35px;
}
.second_text h2{
    font-weight: 600;
}

.icon_cont{
    display: flex;
    align-items: center;
    margin-top: 60px;
}
.icon_cont:nth-child(2){
    margin-top: -15px;
}
.fa-solid{
    margin-left: 190px;
    margin-top: -11px;
    font-size: 41px;
    color: #546fff;
}

.icon_content{
    margin-left: 7px;
    margin-top: 10px;
}
.icon_content h5{
    font-family: verdana;
    font-size: 23px;
}
.icon_content .content_text{
    font-family: candara;
    font-size: 17px;
}

.icon_frame{
    text-align: center;
    margin-left: 770px;
    margin-top: 32px;
    background-color: #eef99d;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.work_icon{
    margin-top: 26px;
    font-size: 40px;
    position: relative;
    color: #546fff;
}
.work_content{
    text-align: center;
    margin-top: 8px;
}
.work_content .work_title{
    font-size: 23px;
    font-family: verdana;
    font-weight: 540;
}
.work_content .work_text{
    font-family: candara;
    font-size: 18px;
}

.work_div:nth-child(2){
    margin-top: 10px;
}

.right > h2{
    font-family: 'phoneme';
    font-weight: 600;
    font-size: 25px;
}
.right > p{
    font-family: candara;
}

footer {
    max-width: 100%;
    position: relative;
  }
  
  .left, .right {
    position: absolute;
    color: black; 
    width: 50%; 
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px; 
    z-index: 2;
  }
  
  .left {
    position: absolute;
    top:202px;
    left: 0;
  }
  
  .right {
    position: absolute;
    color: black; 
    width: 50%; 
    top: 315px; 
    right: -420px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px; 
    z-index: 2; 
      
  }
  .icons{
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding-left: 480px;
    margin-bottom: 10px;
  }
  .footer_icon{
    color:black;
    font-size: 24px;
    margin-right: 25px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  .footer_icon:hover{
    color: #546fff;
  }
  .footer_link{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: candara;
    letter-spacing: 0.1em;
    transition: 0.3s ease-in-out;
  }
  .footer_link:hover{
    color: #546fff;
  }
  .left_text {
    margin-left: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer_link {
    margin-right: 10px;
    margin-bottom: 10px; 
  }
  
  